//main: _modules.scss

@import '_normalize';
@import '_variables';
@import '_mixins';

h1 {
  font-family: "Triforce";
  font-weight: normal;
  font-size: 3em;
  margin: 0;
}

h2 {
  font-family: "Triforce";
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

h3 {
  font-family: "Triforce";
  font-weight: normal;
  margin: 0;
  font-size: 1.6em;
}

body {
  background-color: $bg;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
}

.main-container {
  background-color: $primary;
  padding: 0.5rem;
  box-shadow: 3px 3px 3px 3px;
}

nav {
  ul {
    background-color: $secondary;
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    padding-right: 3%;
  }
}
