//main: modules.scss

@import 'normalize';

$bg: #777;
$primary: #295135;
$secondary: #0D9263;
$tertiary: #4ABA91;
$font: #D4CE46;

@font-face {
  font-family: "Triforce";
  src: url('../font/Triforce.eot');
  src: url('../font/Triforce.ttf');
}

h1 {
  font-family: "Triforce";
  font-weight: normal;
  font-size: 3em;
  margin: 0;
}

h2 {
  font-family: "Triforce";
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

body {
  background-color: $bg;
  width: 100%;
  height: 100%;
}

.main-container {
  background-color: $primary;
  padding: 0.5em;
  box-shadow: 3px 3px 3px 3px;
}

nav {
  ul {
    background-color: $secondary;
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    padding-right: 3%;
  }
}
