//main: modules.scss

@import 'base';

.tab-section {

}

.skills-list ul {
  background-color: $tertiary;
  list-style: none;
  padding: 0;

  li {
    display: none;
  }
}

.box-shad {
  background-color: $secondary;
  box-shadow: 1px 1px 1px 1px;
}

.project-block {
  flex-flow: row;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

#projects {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

.proj-body-container {
  width: 100%;
}

.project-body {
  display: none;
}
