//main: modules.scss

@import 'base';

.skills-list ul {
  background-color: $tertiary;
  list-style: none;
  padding: 0;

  li {
    display: none;
  }
}

.flex-block, nav, h1 {
  padding: 1% 2%;
  margin: 2% 2%;
}

.hr {
  height: 0.3rem;
  background-color: $primary;
  margin: 3% 0;
}

.project-heading {
  h3 {
    font-family: "Triforce";
    font-weight: normal;
    margin: 0;
    font-size: 2em;
  }
  p:first-of-type {
    font-weight: bold;
  }
  p {
    margin: 0;
  }
  p:last-of-type {
    margin-bottom: 1%;
  }
}

.box-shad {
  background-color: $secondary;
  box-shadow: 1px 1px 1px 1px;
}

.flex-block {
  flex-flow: row;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.tab-section {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

.proj-body-container {
  width: 100%;
}

.project-body {
  display: none;
}
