//compileCompressed: ../style/style.css

@import '_layout';

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  body {
    font-size: 0.8em;
  }

  .main-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .flex-block {

  }
}
