.tab-section {

}

.skills-list ul {
  list-style: none;
  padding: 0;
}

.skills-list ul li {
  display: none;
}

.summary-block {
  display: inline-block;
  width: 45%;
}

.project-block {
  width: 100%;
}

.template {
  display: none;
}
